.text-shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1) !important;
}

.img-avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.img-sponsor {
  width: 200px;
  filter: brightness(0) invert(1);
}

.header-logo__img {
  height: 121px !important;
}

.header-mobile__logo-img {
  margin-top: 1rem;
}

.Vue-Toastification__toast {
  box-shadow: none !important;
  min-width: 526px !important;
}

.Vue-Toastification__toast--default {
  background: none !important;
}

.Vue-Toastification__progress-bar {
  z-index: -1000 !important;
  bottom: 42px !important;
  left: 82px !important;
  width: 75% !important;
}

.search-home input {
  border: 2px solid $color-dark-2;
  font-size: 13px;
  font-style: normal;

  &:focus {
    border: 2px solid $color-dark-lighten-2;
  }
  &::-webkit-input-placeholder {
    font-style: italic!important;
 }

 &:-moz-placeholder {
  font-style: italic!important;
 }

 &::-moz-placeholder {
  font-style: italic!important;
 }

 &:-ms-input-placeholder {
  font-style: italic!important;
 }
}
