.text-shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1) !important;
}

.img-avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.img-sponsor {
  width: 200px;
  filter: brightness(0) invert(1);
}

.header-logo__img {
  height: 121px !important;
}

.header-mobile__logo-img {
  margin-top: 1rem;
}

.Vue-Toastification__toast {
  box-shadow: none !important;
  min-width: 526px !important;
}

.Vue-Toastification__toast--default {
  background: none !important;
}

.Vue-Toastification__progress-bar {
  z-index: -1000 !important;
  bottom: 42px !important;
  left: 82px !important;
  width: 75% !important;
}

.body-search-form {
  padding: 24px 0;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  position: relative;
  z-index: 1;
  vertical-align: top;

  input.header-mobile__search-control {
    height: auto;
    border: 2px solid $color-dark-2;
    font-size: 13px;
    font-style: normal;
    font-size: 15px;
    font-family: $font-family-accent;
    margin-top: 0px;

    &:focus {
      border: 2px solid $color-dark-lighten-2;
    }

    &::-webkit-input-placeholder {
      font-style: italic !important;
    }

    &:-moz-placeholder {
      font-style: italic !important;
    }

    &::-moz-placeholder {
      font-style: italic !important;
    }

    &:-ms-input-placeholder {
      font-style: italic !important;
    }
  }

  @media (min-width: 992px) {
    display: inline-block;
    width: $header-search-width-desktop-lg;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    width: $header-search-width-desktop;
  }

  .search-form {
    position: relative;
  }

  .main-nav & {
    padding: 11px 0;
    background-color: transparent;

    &.header-search-form--right {
      float: right;
    }
  }

  .header__secondary & {

    &.header-search-form--left {
      float: left;
    }
  }
}

.social-buttons-stat {
  .btn {
    margin: 0;
    padding: 5px 0;
    width: 80px;
    text-align: center;

    i {
      margin-right: 0px !important;
    }
  }
}
